<h2>Create a new league</h2>

<%= form_for @league do | f | %>

	<%= f.label :name, "Name of the league" %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :desc, "Tell me more" %>
	<%= f.text_field :desc %>
	<br><br>
	<%= f.submit "Create league" %>
	
<% end %>