<h2>Edit fixture id #<%= @fixture.id %></h2>

<%= form_for @fixture do | f | %>

	<%= f.label :competition_id, "Select the competition" %>
	<%= f.select :competition_id, @competitions.map{ |e| [e.league.name..e.season.startyear, e.id] } %>
	<br><br>


	<%= f.label :hometeam_id, "Select the home team" %>
	<%= f.select :hometeam_id, @teams.map{ |c| [c.name, c.id] } %>
	<br><br>

	<%= f.label :awayteam_id, "Select the away team" %>
	<%= f.select :awayteam_id, @teams.map{ |d| [d.name, d.id] } %>
	<br><br>

	<%= f.label :scorehome, "Score home" %>
	<%= f.text_field :scorehome %>
	<br><br>

	<%= f.label :scoreaway, "Score away" %>
	<%= f.text_field :scoreaway %>
	<br><br>

	<%= f.label :finished, "Game status" %>
	<%= select_tag(:finished, options_for_select([['False', 'false'], ['True', 'true']]))%>

	<br><br>
	<%= f.submit "Update fixture" %>
	
<% end %>