<h2>Create a new fixture</h2>

<%= form_for @fixture do | f | %>

	<%= f.label :competition_id, "Select the competition" %>
	<%= f.select :competition_id, @competitions.map{ |e| [e.league.name..e.season.startyear, e.id] } %>
	<br><br>

	<%= f.label :round, "Competition round" %>
	<%= f.text_field :round %>
	<br><br>

	<%= f.label :hometeam_id, "Select the HOME team" %>
	<%= f.select :hometeam_id, @teams.map{ |c| [c.city, c.id] } %>
	<br><br>

	<%= f.label :awayteam_id, "Select the AWAY team" %>
	<%= f.select :awayteam_id, @teams.map{ |d| [d.city, d.id] } %>
	<br><br>

	<%= f.label :dateandtime, "Select the date & time" %>
	<%= f.datetime_select :dateandtime %>
	<br><br>

	<%= f.submit "Create fixture" %>
	
<% end %>