<h1>Fixtures <%=@fixture.id%> </h1>

<center>
	<%=@fixture.dateandtime.strftime("%d %B %Y")%> | <%=@fixture.dateandtime.strftime("%k:%M")%>
	<h3>
		<%= @fixture.hometeam.name%>
		v. 
		<%= @fixture.awayteam.name%>
	</h3>
</center>

<%= @toprint %>

<%=@test%>