<center>
	<h2>Menu</h2>

	<p><%= link_to "All fixtures", fixtures_path %></p>
	<p><%= link_to "All teams", teams_path %></p>
	<p><%= link_to "All competititions", competitions_path %></p>
	<p><%= link_to "All leagues", leagues_path %></p>
	<p><%= link_to "All seasons", seasons_path %></p>
</center>