<h2>Edit competition id #<%= @competition.id %></h2>

<%= form_for @competition do | f | %>

	<%= f.label :league_id, "Select the league" %>
	<%= f.select :league_id, @leagues.map{ |c| [c.name, c.id] } %>
	<br><br>

	<%= f.label :season_id, "Select the season" %>
	<%= f.select :season_id, @seasons.map{ |d| [d.startyear, d.id] } %>

	<br><br>
	<%= f.submit "Update competition" %>
	
<% end %>