<h1>Competitions</h1>

<% @competitions.each do |competition| %>
	<%= competition.id %> • 
	<%= competition.league.name %>
	<%= competition.season.startyear %>/<%= competition.season.startyear.to_i+1 %>
	(<%= competition.league.desc %>)
	<br>
<% end %>